.DS_Store
.env.local
.git
.gitignore
.npmignore
.vscode/*
Notes.md
README.md
codegen-server.yml
constants/*
dist/*
docker.proxy/*
docs/*
global.d.ts
infra/*
node_modules/*
packages/*
scripts/*
tsconfig.json
yarn.lock